{% extends "base.html" %}

{% block title %}Upload new File{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid text-center">
	<div class="container text-center">
    <h1>Upload new file</h1>
    <form action="/classification/" enctype="multipart/form-data" method="post">
    </br>
    </br>
    <div class="col-13 ">
    <input name="files" type="file" required>
    <input type="submit" value="Predict">
	</br>
	</br>
    </div>
    </form>
    <h3>OR</h3>
    </br>
    <div class="col-13 ">
    <h4>Provide <a href="/classify_url">Url</a></h4>
    </div>
</div>
</div>
{% endblock %}